:root {
  --ctp-mocha-base: #1e1e2e;
  --ctp-mocha-mantle: #181825;
  --ctp-mocha-crust: #11111b;

  --ctp-mocha-text: #cdd6f4;
  --ctp-mocha-subtext1: #bac2de;
  --ctp-mocha-subtext0: #a6adc8;

  --ctp-mocha-surface0: #313244;
  --ctp-mocha-surface1: #45475a;
  --ctp-mocha-surface2: #585b70;

  --ctp-mocha-overlay0: #6c7086;
  --ctp-mocha-overlay1: #7f849c;
  --ctp-mocha-overlay2: #9399b2;

  --ctp-mocha-blue: #89b4fa;
  --ctp-mocha-lavender: #b4befe;
  --ctp-mocha-pink: #f5c2e7;
  --ctp-mocha-red: #f38ba8;
  --ctp-mocha-green: #a6e3a1;
  --ctp-mocha-yellow: #f9e2af;
  --ctp-mocha-peach: #fab387;
  --ctp-mocha-sky: #89dceb;
  --ctp-mocha-teal: #94e2d5;
  --ctp-mocha-mauve: #cba6f7;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: var(--ctp-mocha-base);
  color: var(--ctp-mocha-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/great-vibes-v19-latin-regular.woff2') format('woff2');
  font-display: swap;
}
