.watchlist-page {
    max-width: 90%;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
}

.select-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-notice {
    padding-top: 2rem;
}

.update-notice button {
    background: var(--ctp-mocha-blue);
    color: var(--ctp-mocha-base);
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    margin-left: 0.25rem;
    cursor: pointer;
  }

.update-notice button:hover {
    background: var(--ctp-mocha-sky);
    color: var(--ctp-mocha-base);
  }

@media (max-width: 600px) {
    .watchlist-page {
        padding-top: 5rem;
    }

    .select-row {
        display: block;
        justify-content: normal;
        align-items: normal;
    }
}